# Ignorar arquivos tempor√°rios do sistema
Thumbs.db
.DS_Store
*.log

# Ignorar a pasta de ambiente virtual (se houver)
venv/

# Ignorar a pasta AppData ou outras pastas indesejadas
AppData/
"Ambiente de Impress∆o/" 
"Ambiente de Rede/" 
"AppData/" 
